#nav {
    border: 1px solid lightgray;
    justify-content: center;
    display: flex;
    height: 40px;
    margin: 20px auto;
}

.menu {
    list-style-type: none;
    height: 40px;
    display: flex;
    float: left;
    margin-top: 0px;
    padding-inline: initial;
    align-items: center;
}

.left_box .mail_icon{
    width: 20px;
    margin-right: 5px;
}
.left_box .shopping_live_icon{
    width: 60px;
}
.left_box a{
    display: flex;
    align-items: center;
}
.left_box:hover, .right_box:hover {
    cursor: pointer;
}

.left_box {
    height: 40px;
    color: #19CE60;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    float: left;
}

.left_box a {
    color: #19CE60;
}

a {
    text-decoration: none;
}

.right_box a {
    color: black;
}

.right_box {
    height: 40px;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    float: left;
}